DATABASE_URL="postgresql://gbi:gbi_password@localhost:5432/lap_keu_gbi"
DIRECT_URL="postgresql://gbi:gbi_password@localhost:5432/lap_keu_gbi"
NEXTAUTH_SECRET="change-this-secret-in-production"
NEXTAUTH_URL="http://localhost:3000"
